name: Create release draft xxx
on:
  workflow_dispatch:
  
jobs:
  create-draft:
    name: Create release draft xxx
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get version
        id: version
        run: |
          echo version=$(cat VERSION) >> $GITHUB_OUTPUT

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build binaries
        id: binaries
        run: |
          make release-binaries

      - name: Setup qemu
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and possibly push image
        run: |
          set -ex
          docker login --username "${DOCKER_USERNAME}" --password "${DOCKER_PASSWORD}" quay.io
          IMAGE_PUSH=yes IMAGE_TAG=v${{ steps.version.outputs.version }} make docker-buildx
        env:
          DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.QUAY_TOKEN }}
